[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
black = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
coreapi = "*"
coreschema = "*"
dj-database-url = "*"
dj-rest-auth = "*"
django = "*"
django-allauth = "*"
django-cors-headers = "*"
drf-registration = "*"
django-rest-auth = "*"
django-rest-framework-jwt-oauth2 = "*"
djangorestframework = "*"
drf-yasg = "*"
gunicorn = "*"
idna = "*"
inflection = "*"
itypes = "*"
jinja2 = "*"
markupsafe = "*"
mypy-extensions = "*"
oauthlib = "*"
packaging = "*"
pathspec = "*"
pillow = "*"
platformdirs = "*"
pycparser = "*"
pyparsing = "*"
python-decouple = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
six = "*"
sqlparse = "*"
tomli = "*"
types-cryptography = "*"
typing-extensions = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
whitenoise = "*"
cloudinary = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
xlwt = "*"
djangorestframework-jwt = "*"
django-heroku = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-filter = "*"
pre-commit = "*"
mypy = "*"
pandas = "*"
flake8 = "*"
flake8-docstrings = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
isort = "*"
pre-commit = "*"
django-stubs = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
faker = "*"
djangorestframework-stubs = "*"

[requires]
python_version = "3.10"
