{% extends 'base.html' %} {% block title %}
<title>Password reset done</title>
{% endblock %} {% block body %}
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  "
>
  <svg class="text-success" width="48" height="48">
    <use xlink:href="#check-circle" />
  </svg>
  <h2>Success!</h2>
  <p>Your password has been reset successfully</p>
  <a
    href="https://elpportal-9sefci4sz-elptechhub.vercel.app/signin"
    class="btn btn-primary"
    >Log back in</a
  >
</div>
{% endblock %}
